/* Marquesinas */


/* .section1 {
  font-size: 132px;
  font-weight: 700;
  line-height: 180px;
  letter-spacing: 0em;
  text-align: left;
}

.section1 img {
  height: 570px;
  width: 456px;
  left: 1242px;
  top: 744px;
  border-radius: 0px;

}

.word1 .word2 .word3 .word4 .word5 {
  height: 180px;
  border-radius: nullpx;
  text-align: left;
}

.word1 {
  width: 451px;
  left: -358px;
  top: 926px;
}

.word2 {
  width: 451px;
  left: 700px;
  top: 926px;
}

.word3 {
  width: 708px;
  left: -101px;
  top: 1249px;
}

.word4 {
  width: 731px;
  left: 1245px;
  top: 1249px;
}

.word5 {
  width: 563px;
  left: 599px;
  top: 1570px;
}

.image1 {
  height: 427px;
  width: 640px;
  left: 88px;
  top: 768px;
  border-radius: 0px;
}

.image2 {
  height: 570px;
  width: 456px;
  left: 1242px;
  top: 744px;
  border-radius: 0px;
}

.image3 {
  height: 300px;
  width: 450px;
  left: 698px;
  top: 1188px;
  border-radius: 0px;
}

.image4 {
  height: 300px;
  width: 450px;
  left: 49px;
  top: 1510px;
  border-radius: 0px;
}

.image5 {
  height: 300px;
  width: 450px;
  left: 1245px;
  top: 1510px;
  border-radius: 0px;
} */