.slideshow-container {
  position: relative;
}

.mySlides {
  display: none;
  
}

.prev {
  transform: rotate(180deg);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
}

.prev:hover,
.next:hover {
  opacity: 0.5;
}

.selector {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.selector:hover {
  background-color: #717171;
}