/* General */

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #FFFFFF;
  --light-blue: #77D7DB;
  --black: #000000;
  --green: #44D19D;
  --yellow: #FEDA3C;
}

.logo {
  height: 35.030887603759766px;
  width: auto;
  left: 145.60791015625px;
  top: 0.567626953125px;
  border-radius: 0px;
}

.socialMediaIcon {
  height: 28px;
  width: auto;
  object-fit: contain;
}

body {
  font-family: 'Open Sans';
}



/* Nav */

.hamburger-container {
  position: relative;
  width: 26px;
  height: 26px;
}

#hamburger {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

#hamburger:checked+.hamburgerLine>span {
  transform: rotate(45deg);
}

#hamburger:checked+.hamburgerLine>span::before {
  top: 0;
  transform: rotate(0deg);
}

#hamburger:checked+.hamburgerLine>span::after {
  top: 0;
  transform: rotate(90deg);
}

#hamburger:checked~.sideMenu {
  right: 0 !important;
}

.hamburgerLine {
  position: absolute;
  top: 12px;
  width: 26px;
  height: 26px;
  z-index: 1;
}

.hamburgerLine>span,
.hamburgerLine>span::before,
.hamburgerLine>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.hamburgerLine>span::before {
  content: '';
  top: -8px;
}

.hamburgerLine>span::after {
  content: '';
  top: 8px;
}

.sideMenu {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 80px 40px;
  list-style: none;
  background-color: var(--black);
  transition-duration: .25s;
  overflow: auto;
}

.sideMenuItem {
  display: block;
  padding: 12px 0;
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.sideMenuItem:hover {
  background-color: #333;
  color: var(--white);
}

.sideMenuItem.inline {
  display: inline;
}

.languageSelectionContainer {
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
}

.fondoCeleste {
  background-color: var(--light-blue);
}

.alinearIzquierda {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px;
}

.mailBoron {
  color: var(--white);
}

.suscribe {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}

.suscribe+img {
  margin-left: 10px;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
}

.actionsContainer .mailBoron {
  display: none;
}

.socialMediaIconsContainer>img+img {
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .actionsContainer .mailBoron {
    display: initial;
  }

  .actionsContainer {
    flex-direction: column-reverse;
  }
  .sideMenu{
    width: 100%;
  }

}

/* Title */

.paddingTitle {
  padding: 15px;
}

.welcome {
  font-size: 205px;
  font-weight: 700;
  letter-spacing: 0em;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

h2 span {
  background-color: rgb(83, 221, 255);
}

@media screen and (max-width: 576px) {
  .welcome {
    font-size: 55px;
  }

  .welcomeH2 {
    font-size: 25px;
  }
}

/* Texto Full Witdh */

.section2 {
  background: #FF5E43;
  text-align: center;
  padding: 100px 120px 130px 120px;
}

.section2 p {
  font-size: 64px;
  font-weight: 400;
  color: var(--black);
  text-align: left;
}

@media screen and (max-width: 576px) {
  .section2 p {
    font-size: 24px;
  }
  .section2{
    padding: 30px;
  }
}

/* Modulo Slider */

.fondoSlider {
  background: #1DA1F2;
}

.paddingFondo {
  padding: 95px 100px;
}

.paddingTwitter {
  padding: 50px 0px 35px;
}

.paddingH2 {
  padding-bottom: 5px;
}

.paddingP {
  padding-bottom: 30px;
}

.foto7 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.h3Slider {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: left;
}

.h2Slider {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  line-height: 1;
}

.pASlider {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.p2hs {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 5px;
}

.pTwitter {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black)
}

.white {
  color: var(--white);
}

@media screen and (max-width: 576px) {

  .h3Slider,
  .pASlider {
    font-size: 14px;
  }

  .h2Slider {
    font-size: 32px;
  }

  .p2hs {
    font-size: 12px;
  }

  .pTwitter {
    font-size: 18px;
  }

  .slider {
    flex-direction: column-reverse;
  }
  .fondoSlider{
    padding: 30px;
  }
  .paddingSlider{
    padding-bottom: 70px;
  }
}

/* Repository */

.section4{
  padding-top: 150px;
}

.section4 h1 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 0em;
}

.section4 h2 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  padding: 35px 0px 35px;
}

.section4 p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0em;
  margin: auto 0;
  line-height: 1;
}

.repository {
  padding-bottom: 60px;
}

.borde {
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
}

.hoverAutor:hover {
  background-image: url(../img/Foto1.png);
}

.hoverTitulo:hover {
  background-image: url(../img/Foto2.png);
}

.hoverNavegacion:hover {
  background-image: url(../img/Foto3.png);
}

.hoverDescripciones:hover {
  background-image: url(../img/Foto4.png);
}

.paddingRepository a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .section4 h1 {
    font-size: 42px;
  }

  .section4 p {
    font-size: 20px;
  }

  .section4 h2 {
    font-size: 23px;
    padding: 20px 0px 20px;
  }

  .repository {
    flex-direction: column;
    text-align: start;
  }
}

/* News */

.news {
  font-size: 132px;
  font-weight: 700;
  line-height: 180px;
  letter-spacing: 0em;
}

.fondoAzul {
  background: var(--light-blue);
  border-right: 1px solid #FFFFFF;
}

.fondoVerde {
  background: var(--green);
  padding-left: 1px;
  border-left: 1px solid #FFFFFF;
}

.fondoAmarillo {
  background: var(--yellow);
  padding-left: 1px;
  border-left: 1px solid #FFFFFF;
}

.section5 h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

.section5 p {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.section5 .icon {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.textoWebinar {
  display: block;
}

.textoEVENTO {
  display: block;
}

.textoEvento2 {
  display: block;
}

.maxWidth {
  width: 25%;
}

.icon {
  display: block;
  text-decoration: none;
  color: var(--black);
}

.fotoWebinar:hover {
  background-image: url(../img/webinar.png);
}

.fotoEVENTO:hover {
  background-image: url(../img/annie-spratt-QckxruozjRg-unsplash.png);
}

.fotoEvento2:hover {
  background-image: url(../img/evento2.png);
}

.fotoPublicacion:hover {
  background-image: url(../img/publicacion.png);
}

.fotoWebinar:hover>.textoWebinar {
  display: none;
}

.fotoEVENTO:hover>.textoEVENTO {
  display: none;
}

.fotoEvento2:hover>.textoEvento2 {
  display: none;
}

.fotoPublicacion:hover>.textoPublicacion {
  display: none;
}

.fotoWebinar:hover>.icon {
  display: none;
}

.fotoEVENTO:hover>.icon {
  display: none;
}

.fotoEvento2:hover>.icon {
  display: none;
}

.fotoPublicacion:hover>.icon {
  display: none;
}

.paddingHover {
  padding-bottom: 175px;
}

@media screen and (max-width: 576px) {
  .news {
    font-size: 42px;
  }

  .textoWebinar {
    font-size: 12px;
  }

  .section5 h2 {
    font-size: 14px;
  }

  .maxWidth {
    width: 50%;
  }
}

/* Footer */

.fondoFooter {
  background-color: var(--black);
}

.fotterInformationContainer {
  padding: 0 80px;
}

.fotterInformationContainer .fondoCeleste {
  margin-top: 40px;
}

.footerCopyrightContainer {
  margin-top: 40px;
  opacity: .4;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

footer h2 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.mail {
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.footerList ul li a {
  font-size: 16px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.footerContainer {
  display: grid;
  grid-template-areas: 
    "titulo      links"
    "subscribete links";
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  padding: 80px 140px 40px;
}

.titleArea {
  grid-area: titulo;
}

.linksArea {
  grid-area: links;
}

.subscribeArea {
  grid-area: subscribete;
  margin-top: auto;
}

.subscribeArea .mail {
  text-decoration: none;
}

.subscribeArea .mail:hover {
  color: var(--white);
}

footer .socialMediaIconsContainer a + a {
  margin-left: 40px;
}

@media screen and (max-width: 576px) {
  .footerContainer {
    grid-template-areas: "titulo" "links" "subscribete";
    grid-template-columns: 1fr;
    padding: 40px 30px 30px;
  }

  .subscribeContiner {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
  }

  .subscribeContiner button {
    margin-right: auto;
  }

  .fotterInformationContainer {
    flex-direction: column;
    display: block;
  }

  .footerCopyrightContainer {
    flex-direction: column-reverse;
  }

  .footerCopyrightContainer p {
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
  }

  .footerList a {
    font-size: 16px;
  }

  .fondoFooter h2 {
    font-size: 32px;
  }

  .footerList p {
    font-size: 14px;
  }
}