/* Text + imagen */

/* .textoNuestro {
  height: 32px;
  width: auto;
  left: 100px;
  top: 2644px;
  border-radius: nullpx;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-align: left;
}

.textoImagen {
  height: auto;
  left: 100px;
  top: 3000px;
  border-radius: nullpx;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 30px;
}

.seccion3 {
  height: 730px;
  left: 0px;
  top: 2540px;
  border-radius: 0px;
  background: #77D7DB;
}

.borderTextImage {
  border: 1px solid #77D7DB;
}

.Texto1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-align: left;
  height: 32px;
  width: 202px;
  left: 100px;
  top: 2644px;
  border-radius: nullpx;
  color: var(--black);
}

.Texto2 {
  height: 162px;
  width: 531px;
  left: 100px;
  top: 3000px;
  border-radius: nullpx;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
}

.imagen6 {
  height: 730px;
  width: 100%;
  left: 346px;
  top: 2540px;
  border-radius: 0px;
} */